body {
 padding: 0px;
 padding-bottom: 500px;
 margin: 0;
 font-family: 'Times New Roman', Times, serif;
 background-color: white;
 color: blue;
}
h1{
  color: red;
}
h2{
  color:black;
}
p{
  background-color: darkturquoise;
  color: black;
  padding: 10px;
}
li{
  background-color: antiquewhite;
  padding: 10px;
}
