body {
 padding: 25px;
 font-family: 'Times New Roman', Times, serif;
 background-color: darkgrey;
 color: blue;
}
h1{
  color: red;
}
h2{
  color:black;
}
p{
  background-color: gold;
  color: black;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
